<html>
  <head>
    <link href="/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="...">
          </a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="col-xs-8 col-xs-offset-2 booyah-box">
        <h1 class="text-center">Contact Form</h1>
      </div>
    </div>

    <div class="container-fluid">
      <div class="col-xs-8 col-xs-offset-2 booyah-box">
        <form action="/contact" method="post">
          <div class="col-xs-12">
            <div class="form-group">
              <label class="form-control-label" for="name">Your Name:</label>
              <input type="text" name="name" class="form-control" placeholder="John Smith...">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <label class="form-control-label" for="email">Your email address:</label>
              <input type="text" name="email" class="form-control" placeholder="email@example.com">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <label class="form-control-label" for="to">Your message:</label>
              <textarea name="message" class="form-control" rows="10"></textarea><br>
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right" value="Send">Submit</button>
        </form>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
  </body>
</html>
